*~HEAD
*.py[code]
__pycache__

# C extensions
*.sp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov
media/*

# Example run
*.json
*.sqlite3

# Editor
*.sw[opm]

# Sphinx
docs/_build
